.video-wrap{
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
.searchbar-wrap{
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
.searchbar-wrap .form-control, .searchbar-wrap .form-control:hover, .searchbar-wrap .form-control:active , .searchbar-wrap .form-control:focus{
  border:0;
  outline: none;
  border-radius: 0;
  border-bottom: 3px solid black;
  -webkit-box-shadow: none;
  box-shadow: none;

}

.video-iframe{
  height: 30rem;
  border: 1px solid black;
}
.video-iframe-text-content{
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-right: 1rem;
}
.video-iframe-text-2{
  font-size: 1.2rem;
  border-bottom: 1px solid grey;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.video-iframe-text-1{
  border-bottom: 1px solid grey;
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
.youtube-cards{
  width: 100%;
  border: 1px solid black;
  margin-bottom: 1rem;
  cursor: pointer
}
.youtube-cards-thumbnail IMG{
width: 100%
}
.youtube-cards-title{
  font-weight: 500;
  font-size: 0.85rem;
  /* display: inline; */
}
